


.body {
    display: flex;
    flex-direction: column;
}

header{
    background-color: #6F2093;
}

.header {
    justify-content: center;
    align-items: center;
    text-align: center;
    color: aliceblue;
    margin: 0;
    width: 100%;
}



.Menu {
    display: flex;
    column-gap: 20%;
    align-items: center;
    justify-content: space-evenly;
    padding: 2em;
}

.Menu-home,.Menu-reports, .Menu-about,.Menu-contact {
    height: 20px;
    width: 100px;
    color: aliceblue;
    background-color: #6F2093;
    font-weight: 400;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: block;
    padding: 10px 0;
    border-radius: 20px;
}

.Menu-home:hover,.Menu-reports:hover, .Menu-about:hover, .Menu-contact:hover {
    background-color:aliceblue ;
    color: black;
    cursor: grab;
}

.visualization {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: center;
    gap: 20%;
}

